<!DOCTYPE html>
<html>
<head>
  <title>MelbourneRuby</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, message| %>
    <%= content_tag :div, message, id: "flash-#{name}"%>
  <% end %>
  
  

<%= yield %>
<!-- GMAPS4RAILS -->
<%= yield :scripts %>
<!-- END GMAPS4RAILS -->
<%= debug(params) if Rails.env.development? %>
</body>
</html>
